<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migra Fácil - Vagas de Emprego</title>
    <link rel="stylesheet" href="/css/emprego.css">
    <link rel="shortcut icon" type="imagex/png" href="/imagens/lgaba.ico">
</head>
<body>
    <header>
        <a href="/">
            <img src="imagens/image2.png" alt="Migra Fácil" class="logo">
        </a>        
        <button class="menu-button"><a href="/filtrovagas">&#9776;</a></button>
    </header>
    <section class='galeria'>
        <%
        if(listaHq){
            listaHq.forEach(function(item){
        %>
                <div class="card">
                    <figure>
                        <img src="<%= item.imagem_hq %>" alt="">
                    </figure>
                    <div class="detalhes">
                        <h3><%= item.nome_hq %></h3>
                        <p><%= item.descr_hq %></p>
                        <h2>R$ <%= item.preco_hq.toFixed(2) %></h2>
                    </div>
                    <div class="botoes">
                        <a href="/favoritar?id=<%= item.id_hq %>&sit=<%= item.favorito %>">
                            <i class="fas fa-light fa-heart <%= item.favorito %>"></i>
                        </a>
                        <a class="comprar" 
                                href="/addItem?id=<%= item.id_hq %>&preco=<%= item.preco_hq.toFixed(2) %>">comprar</a>
                        </div>
                    </div>
        <%
            });
        }
        %>
    </section>
    <main>
        <section class="search-section">
            <h2>Que vaga você deseja?</h2>
            <form id="search-form">
                <input type="text" id="job-title" placeholder="Exemplo: auxiliar administrativo">
                <input type="text" id="location" placeholder="Estado/Cidade">
                <button type="button" onclick="searchJobs()">Procurar vagas</button>
            </form>
        </section>
        <section class="job-listings" id="job-listings">
        </section>
        <div id="loading-spinner" class="loading-spinner"></div>
    </main>
    <script src="/js/emprego.js"></script>
</body>
</html>
