<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Migra Fácil</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" type="imagex/png" href="/imagens/lgaba.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/login.js"></script>
    <style>
        .botao-redondo {
            position: fixed; 
            bottom: 104px; 
            right: 638px; 
            background-color: transparent; 
            color: transparent;
            border: none;
            border-radius: 50%;
            width: 90px; 
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease; 
        }
        /* Media query para ajustar em telas menores */
@media (max-width: 768px) {
    .botao-redondo {
        right: 55px; /* Mover o botão mais para o canto em telas pequenas */
        bottom: 55px; /* Ajuste da posição inferior para celular */
    }
}

        .botao-redondo:hover {
            background-color: transparent; 
            transform: scale(1.1); 
        }

        .modal {
            display: none; 
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            width: 400px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            z-index: 10;
        }

        .modal .fechar-x {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            color: #888;
        }

        .modal .fechar-x:hover {
            color: #000;
        }

        .modal-fundo {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9;
        }

        .modal label {
            font-weight: bold;
            margin-top: 10px;
            display: block;
        }

        .modal input, .modal select, .modal textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
        }

        .publicar {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #28a745;
            color: #ffffff;
            border: none;
            margin-right: 10%;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
        }

        .publicar:hover {
            text-decoration: none;
            background-color: #218838;
        }

        .extra-emprego {
            display: none;
        }

        .login-container {
            text-align: center;
            margin: 50px auto;
            padding: 20px;
            width: 300px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .login-container img {
            width: 150px;
            margin-bottom: 20px;
        }

        .login-container h2 {
            margin-bottom: 20px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }

        .login-form label {
            text-align: left;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .login-form input {
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .login-form .login-button {
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-form .login-button:hover {
            background-color: #218838;
        }

        .signup-prompt {
            margin-top: 20px;
        }

        .forgot-password {
            font-size: 12px;
            margin-bottom: 20px;
        }
        footer {
            background-color: #34990d9f;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .footer-logo {
           width: 100px;
           margin-bottom: 10px;
        }

        .social-media {
           margin-bottom: 10px;
        }

        .social-media a {
          color: #fff;
          font-size: 20px;
          margin: 0 10px;
          text-decoration: none;
        }

        .footer-links {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        .footer-links li {
           display: inline;
           margin: 0 10px;
        }

        .footer-links a {
           color: #fff;
           text-decoration: none;
        }

        #footer_copyright {
           margin-top: 10px;
        }

    </style>

</head>
<body>
    <% 
    let avisoErro = {"email":"", "password":""}
    let msgErro = ""
        if(listaErros){
            listaErros.errors.forEach(function(itemErro){
                if(itemErro.path == "email"){
                    avisoErro.email = "erro";
                    msgErro += `* ${itemErro.msg} <br>`
                }
                if(itemErro.path == "password"){
                    avisoErro.password = "erro";
                    msgErro += `* ${itemErro.msg} <br>`
                }
            })
            if(msgErro != ""){
            %>
                <script>
                    let msgErro ="<%= msgErro %>"
                    notify("Erro(s) no preenchimento", 
                           "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                           "error", "center", 5000)                        
                </script>
            <%
            }
        }
        if (dadosNotificacao) { %>
            <script>
                    notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                    if("<%= dadosNotificacao.tipo %>" == "success"){
                        setTimeout(function(){window.location="/"}, 3000)
                    }                        
            </script>
        <% } %>              
    <section class="login-container">
        <a href="/pginicial">
        <img src="/imagens/logo.png" alt="Migra Fácil" class="logo">
    </a>
        <h2>Entrar com :</h2>
        <form class="login-form" method="post" action="/login">
            <label for="email">Email :</label>
            <input type="text" id="email" name="email" >
            <label for="password">Senha :</label>
            <input type="password" id="password" name="password" >
            <a href="/recuperarsenha" class="forgot-password">Esqueceu a senha?</a>
            <button type="submit" class="login-button">Entrar</button>
            <a href="/logado"></a> 
        </form>
        <p class="signup-prompt">Ainda não possui uma conta? <a href="#">Crie uma conta</a></p>
        
    </section>
     
     <button class="botao-redondo" onclick="mostrarModal()">+</button>

 
     <section class="modal-fundo" id="modal-fundo" onclick="fecharModal()"></section>
 
     <section class="modal" id="modal">
         <span class="fechar-x" onclick="fecharModal()">&#10006;</span>
         <form id="form-anuncio">
             <button class="publicar"><a href="/cadastro">Pessoa Fisica</a></button>
             <button class="publicar"><a href="/cnpj">Pessoa Jurídica</a></button>
         </form>
     </section>
 
     <script>
         function mostrarModal() {
             document.getElementById('modal').style.display = 'block';
             document.getElementById('modal-fundo').style.display = 'block';
         }
 
         function fecharModal() {
             document.getElementById('modal').style.display = 'none';
             document.getElementById('modal-fundo').style.display = 'none';
         }
 
        
     </script>
     
     
 </body>
 </html>
</body>
</html>
