<!DOCTYPE html> 
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Perfil - Migra Fácil</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="shortcut icon" type="imagex/png" href="/imagens/lgaba.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/perfil.js"></script>

    <style>
        /* Estilos do layout */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #7fa11f;
        }
        .header img {
            height: 50px;
        }
        .header .profile-info {
            margin-left: auto;
            text-align: right;
        }
        .header .profile-info p {
            margin: 0;
            font-size: 16px;
            color: #4a4a4a;
        }
        .header .profile-info .name {
            font-weight: bold;
            font-size: 18px;
        }
        .container {
            display: flex;
        }
        .sidebar {
            background-color: #fff;
            width: 250px;
            border-right: 1px solid #ddd;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        }
        .sidebar button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: white;
            border: 2px solid #7fa11f;
            color: #4a4a4a;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        .sidebar button:hover {
            background-color: #7fa11f;
            color: white;
        }
        .content {
            padding: 40px;
            width: 100%;
        }
        .icons-container {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }
        .icon-button {
            text-align: center;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 8px;
            padding: 10px;
            transition: border-color 0.3s;
        }
        .icon-button img {
            width: 60px;
            height: 60px;
        }
        .icon-button:hover {
            border-color: #7fa11f;
        }
        .form-anuncio {
            display: none;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-anuncio button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #7fa11f;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-anuncio button:hover {
            background-color: #5b8a16;
        }

        footer {
          background-color: #34990d9f;
          color: #fff;
          padding: 20px;
          text-align: center;
       }

        .footer-logo {
          width: 100px;
          margin-bottom: 10px;
       }

        .social-media {
         margin-bottom: 10px;
      }

        .social-media a {
         color: #fff;
         font-size: 20px;
         margin: 0 10px;
         text-decoration: none;
      }

        .footer-links {
          list-style: none;
          padding: 0;
          margin: 0;
       }

        .footer-links li {
         display: inline;
         margin: 0 10px;
        }

        .footer-links a {
         color: #fff;
         text-decoration: none;
        }

        #footer_copyright {
         margin-top: 10px;
        }
  
    </style>
</head>
<body>
    <%
    let msgErro = ""
    let avisoErro = {"nome":"", "password":"", "telefone":"", "email":"", "cep":""}
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "nome"){
                avisoErro.nome = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "password"){
                avisoErro.password = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "telefone"){
                avisoErro.telefone = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "email"){
                avisoErro.email_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "cep"){
                avisoErro.cep = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
        })
        if(msgErro != ""){
            %>
                <script>
                    let msgErro ="<%= msgErro %>"
                    notify("Erro no preenchimento",
                    "Verifique o(s) campo(s): <br>" + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                    "error", "center",5000)                        
                </script>
                <%

        }
    }
    if (dadosNotificacao) { 
        %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                                 
        </script>
    <% } %>
    <!-- Cabeçalho com logo e informações do usuário -->
    <header class="header">
        <img src="imagens/image2.png" alt="Migra Fácil Logo">
    </header>

    <!-- Layout com menu lateral e conteúdo principal -->
    <div class="container">
        <!-- Menu lateral -->
        <!-- <aside class="sidebar">
            <button>Suas informações</button>
            <% 
            
            if(autenticado.autenticado != null){
                
                if(autenticado.tipo != 1){%>

                    <button>Publicações</button>
                    <button>Planos</button>
               
               <% }  } %>
        </aside> -->

        <aside class="sidebar">
            <button id="info-btn">Suas informações</button>
            <% if(autenticado.autenticado != null && autenticado.tipo != 1) { 
              
                if( autenticado.tipo == 2) { %>
                <button id="publicar-empregos-btn">Publicar Empregos</button>
                <% } 

                if( autenticado.tipo != 2) { %>
                <button id="publicar-imoveis-btn">Publicar Imóveis</button>
                <% } %>

              
                <button id="plans-btn">Planos</button>
                
            <% } %>
        </aside>

        
        <!-- Conteúdo principal -->
        <div class="content">
            <section class="profile-info" id="info-section" style="display:none;">
                <h2>Alterar informações do perfil</h2>
                <form id="profileForm" method="post" action="/alterarperfil">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="nome" id="nome" name="nome" placeholder="Seu nome" required value="<%= valores.NOME_USUARIO %>" class="<%= avisoErro.NOME_USUARIO %>">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="Seu e-mail" required value="<%= valores.EMAIL_USUARIO %>" class="<%= avisoErro.EMAIL_USUARIO %>">

                    </div>
                    <div class="form-group">
                        <label for="password">Senha :</label>
                        <input type="password" id="password" name="password" placeholder="Deixe o campo vazio para manter a senha atual" class="<%= avisoErro.SENHA_USUARIO %>">
                        </div>
                    <div class="form-group">
                        <label for="new-telefone">Número de telefone:</label>
                        <input type="telefone" id="telefone" name="telefone" placeholder="(XX) XXXXX-XXXX" required value="<%= valores.CELULAR_USUARIO %>" class="<%= avisoErro.CELULAR_USUARIO %>">
                        <script>
                            function formatarTelefone(telefone) {
                                // Remove qualquer caractere que não seja número
                                telefone = telefone.replace(/\D/g, '');
                        
                                // Aplica a máscara de telefone no formato (XX) XXXXX-XXXX ou (XX) XXXX-XXXX
                                if (telefone.length > 10) {
                                    telefone = telefone.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
                                } else if (telefone.length > 6) {
                                    telefone = telefone.replace(/(\d{2})(\d{4})(\d{0,4})/, '($1) $2-$3');
                                } else if (telefone.length > 2) {
                                    telefone = telefone.replace(/(\d{2})(\d{0,5})/, '($1) $2');
                                } else {
                                    telefone = telefone.replace(/(\d*)/, '($1');
                                }
                        
                                return telefone;
                            }
                        
                            document.addEventListener('DOMContentLoaded', function() {
                                const telefoneInput = document.getElementById('telefone');
                        
                                // Adiciona evento de input para formatar o telefone enquanto o usuário digita
                                telefoneInput.addEventListener('input', function() {
                                    telefoneInput.value = formatarTelefone(telefoneInput.value);
                        
                                    // Limita o número de caracteres a 15
                                    if (telefoneInput.value.length > 15) {
                                        telefoneInput.value = telefoneInput.value.slice(0, 15);
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="cep"> CEP:</label>
                        <input type="cep" id="cep" name="cep" placeholder="Novo cep" required value="<%= valores.CEP_USUARIO %>" class="<%= avisoErro.CEP_USUARIO %>">
                    </div>
                    <script>
                        function formatarCEP(cep) {
                            // Remove qualquer caractere que não seja número
                            cep = cep.replace(/\D/g, '');
                    
                            // Aplica a máscara de CEP no formato XXXXX-XXX
                            if (cep.length > 5) {
                                cep = cep.replace(/(\d{5})(\d{0,3})/, '$1-$2');
                            } 
                    
                            return cep;
                        }
                    
                        document.addEventListener('DOMContentLoaded', function() {
                            const cepInput = document.getElementById('cep');
                    
                            // Adiciona evento de input para formatar o CEP enquanto o usuário digita
                            cepInput.addEventListener('input', function() {
                                cepInput.value = formatarCEP(cepInput.value);
                    
                                // Limita o número de caracteres a 9
                                if (cepInput.value.length > 9) {
                                    cepInput.value = cepInput.value.slice(0, 9);
                                }
                            });
                        });
                    </script>
                    <button type="submit">Salvar Alterações</button>
                </form>
            </section>

            <section class="plans" id="plans-section" style="display: none;">
                <h2>Planos Disponíveis</h2>
                <ul>
                    <li>Plano Básico - R$ 50/mês</li>
                </ul>
            </section>

            <section id="imovel-section" style="display: none;" >
                <h2>Publicar Imóveis</h2>
                <form id="form-imovel">
                    <div class="form-group">
                        <label for="titulo-imovel">Título:</label>
                        <input type="text" id="titulo-imovel" name="titulo-imovel" placeholder="Título do anúncio" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao-imovel">Descrição:</label>
                        <textarea id="descricao-imovel" name="descricao-imovel" rows="4" placeholder="Descrição detalhada" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preco-imovel">Preço:</label>
                        <input type="text" id="preco-imovel" name="preco-imovel" placeholder="Preço" required>
                    </div>
                    <div class="form-group">
                        <label for="cep-imovel">CEP:</label>
                        <input type="text" id="cep-imovel" name="cep-imovel" placeholder="CEP da propriedade" required>
                    </div>
                    <div class="form-group">
                        <label for="rua-imovel">Rua:</label>
                        <input type="text" id="rua-imovel" name="rua-imovel" placeholder="Rua da casa" required>
                    </div>
                    <div class="form-group">
                        <label for="numero-imovel">Número:</label>
                        <input type="text" id="numero-imovel" name="numero-imovel" placeholder="Número da casa" required>
                    </div>
                    <div class="form-group">
                        <label for="bairro-imovel">Bairro:</label>
                        <input type="text" id="bairro-imovel" name="bairro-imovel" placeholder="Bairro" required>
                    </div>
                    <div class="form-group">
                        <label for="cidade-imovel">Cidade:</label>
                        <input type="text" id="cidade-imovel" name="cidade-imovel" placeholder="Cidade" required>
                    </div>
                    <div class="form-group">
                        <label for="estado-imovel">Estado:</label>
                        <input type="text" id="estado-imovel" name="estado-imovel" placeholder="Estado" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo-imovel">Tipo de Imóvel:</label>
                        <select id="tipo-imovel" name="tipo-imovel" required>
                            <option value="">Selecione</option>
                            <option value="casa">Casa</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="comercial">Comercial</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quartos">Número de Quartos:</label>
                        <select id="quartos" name="quartos">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4+</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="metros-quadrados">Metros Quadrados:</label>
                        <input type="text" id="metros-quadrados" name="metros-quadrados" placeholder="Metros quadrados">
                    </div>
                    <div class="form-group">
                        <label for="vaga-carro">Vaga para Carro:</label>
                        <select id="vaga-carro" name="vaga-carro">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="banheiros">Número de Banheiros:</label>
                        <select id="banheiros" name="banheiros">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4+</option>
                        </select>
                    </div>

                    <button type="button" onclick="publicarImovel()">Publicar Imóvel</button>
                </form>
            </section>

            <section id="emprego-section" style="display: none;">
                <h2>Publicar Empregos</h2>
                <form id="form-emprego" method="post" action="/publicarvaga">
                    <div class="form-group">
                        <label for="titulo-emprego">Título:</label>
                        <select id="titulo-emprego" name="titulo-emprego" required>
                            <option value="1">Auxiliar ADM</option>
                            <option value="2">Repositor</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descricao-emprego">Descrição:</label>
                        <textarea id="descricao-emprego" name="descricaoemprego" rows="4" placeholder="Descrição detalhada" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="CargaHorario">Carga Horária:</label>
                        <textarea type="text" id="CargaHorario" name="CargaHorario" placeholder="Carga Horária" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="salario-emprego">Salário:</label>
                        <input type="text" id="salario-emprego" name="salarioemprego" placeholder="Salário" required>
                    </div>
                    <div class="form-group">
                        <label for="local-emprego">Local:</label>
                        <input type="text" id="local-emprego" name="localemprego" placeholder="Local de trabalho" required>
                    </div>
                    <button type="submit" >Publicar Emprego</button>
                </form>
            </section>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = [
                document.getElementById('info-btn'),
                document.getElementById('publicar-imoveis-btn'),
                document.getElementById('publicar-empregos-btn'),
                document.getElementById('plans-btn')
            ];

            const sections = {
                info: document.getElementById('info-section'),
                plans: document.getElementById('plans-section'),
                imovel: document.getElementById('imovel-section'),
                emprego: document.getElementById('emprego-section')
            };

            buttons[0].onclick = function() {
                mostrarSeção('info');
            };

            if(buttons[1] != null ){
                buttons[1].onclick = function() {
                    mostrarSeção('imovel');
                };
            }

            if(buttons[2] != null ){
            buttons[2].onclick = function() {
                mostrarSeção('emprego');
            };
            };

            if(buttons[3] != null ){
            buttons[3].onclick = function() {
                mostrarSeção('plans');
            };
            };

            function mostrarSeção(secao) {
                for (const key in sections) {
                    sections[key].style.display = 'none';
                }
                sections[secao].style.display = 'block';
            }
        });

        function buscarEndereco() {
            const cep = document.getElementById('cep-imovel').value.replace(/\D/g, '');

            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('rua-imovel').value = data.logradouro;
                            document.getElementById('bairro-imovel').value = data.bairro;
                            document.getElementById('cidade-imovel').value = data.localidade;
                            document.getElementById('estado-imovel').value = data.uf;
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar CEP:', error);
                        alert('Erro ao buscar informações do CEP.');
                    });
            } else {
                alert('CEP inválido.');
            }
        }

        function publicarImovel() {
            const form = document.getElementById('form-imovel');
            alert('Imóvel publicado com sucesso!');
            form.reset();
            mostrarSeção('info');
        }

        function publicarEmprego() {
            const form = document.getElementById('form-emprego');
            alert('Emprego publicado com sucesso!');
            form.reset();
            mostrarSeção('info');
        }
    </script>
</body>
</html>