<!DOCTYPE html> 
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Perfil - Migra Fácil</title>
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/perfil.js"></script>

    <style>
        /* Estilos do layout */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            border-bottom: 2px solid #7fa11f;
        }
        .header img {
            height: 50px;
        }
        .header .profile-info {
            margin-left: auto;
            text-align: right;
        }
        .header .profile-info p {
            margin: 0;
            font-size: 16px;
            color: #4a4a4a;
        }
        .header .profile-info .name {
            font-weight: bold;
            font-size: 18px;
        }
        .container {
            display: flex;
        }
        .sidebar {
            background-color: #fff;
            width: 250px;
            border-right: 1px solid #ddd;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        }
        .sidebar button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: white;
            border: 2px solid #7fa11f;
            color: #4a4a4a;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        .sidebar button:hover {
            background-color: #7fa11f;
            color: white;
        }
        .content {
            padding: 40px;
            width: 100%;
        }
        .icons-container {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }
        .icon-button {
            text-align: center;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 8px;
            padding: 10px;
            transition: border-color 0.3s;
        }
        .icon-button img {
            width: 60px;
            height: 60px;
        }
        .icon-button:hover {
            border-color: #7fa11f;
        }
        .form-anuncio {
            display: none;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-anuncio button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #7fa11f;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-anuncio button:hover {
            background-color: #5b8a16;
        }
    </style>
</head>
<body>
    <%
    let msgErro = ""
    let avisoErro = {"nome":"", "password":"", "telefone":"", "email":"", "cep":""}
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "nome"){
                avisoErro.nome = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "password"){
                avisoErro.password = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "telefone"){
                avisoErro.telefone = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "email"){
                avisoErro.email_usu = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
            if(itemErro.path == "cep"){
                avisoErro.cep = "erro";
                msgErro += `* ${itemErro.msg} <br>`;
            }
        })
        if(msgErro != ""){
            %>
                <script>
                    let msgErro ="<%= msgErro %>"
                    notify("Erro no preenchimento",
                    "Verifique o(s) campo(s): <br>" + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                    "error", "center",5000)                        
                </script>
                <%

        }
    }
    if (dadosNotificacao) { 
        %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){
                        window.location="/"
                    }, 3000)
                }                        
        </script>
    <% } %>
    <!-- Cabeçalho com logo e informações do usuário -->
    <header class="header">
        <img src="imagens/image2.png" alt="Migra Fácil Logo">
    </header>

    <!-- Layout com menu lateral e conteúdo principal -->
    <div class="container">
        <!-- Menu lateral -->
        <aside class="sidebar">
            <button>Suas informações</button>
            <% 
            
            if(autenticado.autenticado != null){
                
                if(autenticado.tipo != 1){%>

                    <button>Publicações</button>
                    <button>Planos</button>
               
               <% }  } %>
        </aside>

        <!-- Conteúdo principal -->
        <div class="content">
            <section class="profile-info" id="info-section">
                <h2>Informações do Perfil</h2>
                <form id="profileForm" method="post" action="/alterarperfil">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="nome" id="nome" name="nome" placeholder="Seu nome" required value="<%= valores.NOME_USUARIO %>" class="<%= avisoErro.NOME_USUARIO %>">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="Seu e-mail" required value="<%= valores.EMAIL_USUARIO %>" class="<%= avisoErro.EMAIL_USUARIO %>">

                    </div>
                    <div class="form-group">
                        <label for="password">Senha :</label>
                        <input type="password" id="password" name="password" placeholder="Deixe o campo vazio para manter a senha atual" class="<%= avisoErro.SENHA_USUARIO %>">
                        </div>
                    <div class="form-group">
                        <label for="new-telefone">Número de telefone:</label>
                        <input type="telefone" id="telefone" name="telefone" placeholder="(XX) XXXXX-XXXX" required value="<%= valores.CELULAR_USUARIO %>" class="<%= avisoErro.CELULAR_USUARIO %>">
                        <script>
                            function formatarTelefone(telefone) {
                                // Remove qualquer caractere que não seja número
                                telefone = telefone.replace(/\D/g, '');
                        
                                // Aplica a máscara de telefone no formato (XX) XXXXX-XXXX ou (XX) XXXX-XXXX
                                if (telefone.length > 10) {
                                    telefone = telefone.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
                                } else if (telefone.length > 6) {
                                    telefone = telefone.replace(/(\d{2})(\d{4})(\d{0,4})/, '($1) $2-$3');
                                } else if (telefone.length > 2) {
                                    telefone = telefone.replace(/(\d{2})(\d{0,5})/, '($1) $2');
                                } else {
                                    telefone = telefone.replace(/(\d*)/, '($1');
                                }
                        
                                return telefone;
                            }
                        
                            document.addEventListener('DOMContentLoaded', function() {
                                const telefoneInput = document.getElementById('telefone');
                        
                                // Adiciona evento de input para formatar o telefone enquanto o usuário digita
                                telefoneInput.addEventListener('input', function() {
                                    telefoneInput.value = formatarTelefone(telefoneInput.value);
                        
                                    // Limita o número de caracteres a 15
                                    if (telefoneInput.value.length > 15) {
                                        telefoneInput.value = telefoneInput.value.slice(0, 15);
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="cep"> CEP:</label>
                        <input type="cep" id="cep" name="cep" placeholder="Novo cep" required value="<%= valores.CEP_USUARIO %>" class="<%= avisoErro.CEP_USUARIO %>">
                    </div>
                    <script>
                        function formatarCEP(cep) {
                            // Remove qualquer caractere que não seja número
                            cep = cep.replace(/\D/g, '');
                    
                            // Aplica a máscara de CEP no formato XXXXX-XXX
                            if (cep.length > 5) {
                                cep = cep.replace(/(\d{5})(\d{0,3})/, '$1-$2');
                            } 
                    
                            return cep;
                        }
                    
                        document.addEventListener('DOMContentLoaded', function() {
                            const cepInput = document.getElementById('cep');
                    
                            // Adiciona evento de input para formatar o CEP enquanto o usuário digita
                            cepInput.addEventListener('input', function() {
                                cepInput.value = formatarCEP(cepInput.value);
                    
                                // Limita o número de caracteres a 9
                                if (cepInput.value.length > 9) {
                                    cepInput.value = cepInput.value.slice(0, 9);
                                }
                            });
                        });
                    </script>
                    <button type="submit">Salvar Alterações</button>
                </form>
            </section>

            <section class="plans" id="plans-section" style="display: none;">
                <h2>Planos Disponíveis</h2>
                <ul>
                    <li>Plano Básico - R$ 50/mês</li>
                </ul>
            </section>

            <section class="listing" id="listing-section" style="display: none;">
                <h2>Escolha o tipo de publicação:</h2>
                <div class="icons-container">
                    <div class="icon-button" id="imovel-btn">
                        <img src="imagens/casa.png" alt="Imóveis">
                        <p>Imóveis</p>
                    </div>
                    <div class="icon-button" id="vaga-btn">
                        <img src="imagens/mala-de-viagem.png" alt="Vagas de Emprego">
                        <p>Vagas de Emprego</p>
                    </div>
                </div>
 
                <form id="form-anuncio" style="display: none;">
                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" placeholder="Título do anúncio">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" rows="4" placeholder="Descrição detalhada"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preco-salario" id="label-preco-salario">Preço:</label>
                        <input type="text" id="preco-salario" name="preco-salario" placeholder="Preço">
                    </div>
 
                    <div class="extra-emprego" id="extra-emprego" style="display: none;">
                        <div class="form-group">
                            <label for="contato">Link da vaga ou WhatsApp:</label>
                            <input type="text" id="contato" name="contato" placeholder="Link ou número de WhatsApp">
                        </div>
                    </div>
 
                    <div class="campo-imagem" id="campo-imagem" style="display: block;">
                        <div class="form-group">
                            <label for="imagem">Imagem (opcional):</label>
                            <input type="file" id="imagem" name="imagem">
                        </div>
                    </div>
 
                    <!-- Campos de endereço para imóveis -->
                    <div class="form-group" id="cep-imovel">
                        <label for="cep-imovel">CEP:</label>
                        <input type="text" id="cep-imovel" name="cep-imovel" placeholder="CEP da propriedade" required>
                    </div>
                    <div class="form-group" id="endereco-imovel">
                        <label for="rua">Rua:</label>
                        <input type="text" id="rua" name="rua" placeholder="Rua da casa" required>
                    </div>
                    <div class="form-group" id="numero-imovel">
                        <label for="numero">Número:</label>
                        <input type="text" id="numero" name="numero" placeholder="Número da casa" required>
                    </div>
                    <div class="form-group" id="bairro-imovel">
                        <label for="bairro">Bairro:</label>
                        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>
                    </div>
                    <div class="form-group" id="cidade-imovel">
                        <label for="cidade">Cidade:</label>
                        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
                    </div>
                    <div class="form-group" id="estado-imovel">
                        <label for="estado">Estado:</label>
                        <input type="text" id="estado" name="estado" placeholder="Estado" required>
                    </div>
 
                    <div class="extra-info" id="extra-info" style="display: none;">
                        <div class="form-group">
                            <label for="quartos">Número de Quartos:</label>
                            <select id="quartos" name="quartos">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="metros-quadrados">Metros Quadrados:</label>
                            <input type="text" id="metros-quadrados" name="metros-quadrados" placeholder="Metros quadrados">
                        </div>
                        <div class="form-group">
                            <label for="vaga-carro">Vaga para Carro:</label>
                            <select id="vaga-carro" name="vaga-carro">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="banheiros">Número de Banheiros:</label>
                            <select id="banheiros" name="banheiros">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4+</option>
                            </select>
                        </div>
                    </div>
 
                    <button type="button" class="publicar" onclick="publicarAnuncio()">Publicar</button>
                </form>
            </section>
 
        </div>
    </div>

    <script>
        document.getElementById('info-section').style.display = 'block';
        
        const buttons = document.querySelectorAll('.sidebar button');
        const sections = [document.getElementById('info-section'), document.getElementById('listing-section'), document.getElementById('plans-section')];

        buttons.forEach((button, index) => {
            button.onclick = function() {
                sections.forEach(section => section.style.display = 'none');
                sections[index].style.display = 'block';
                if (index !== 1) {
                    document.getElementById('form-anuncio').style.display = 'none';
                }
            };
        });

        document.getElementById('publicacoes-btn').onclick = function() {
            document.getElementById('listing-section').style.display = 'block';
            document.getElementById('info-section').style.display = 'none';
            document.getElementById('plans-section').style.display = 'none';
        };

        document.getElementById('imovel-btn').onclick = function() {
            showAnuncioForm('moradia');
        };

        document.getElementById('vaga-btn').onclick = function() {
            showAnuncioForm('vaga');
        };

        function showAnuncioForm(tipo) {
            const form = document.getElementById('form-anuncio');
            form.style.display = 'block';

            if (tipo === 'vaga') {
                document.getElementById('extra-emprego').style.display = 'block';
                document.getElementById('campo-imagem').style.display = 'none';
                document.getElementById('label-preco-salario').textContent = 'Salário:';
                document.getElementById('preco-salario').placeholder = 'Salário';
                document.getElementById('extra-info').style.display = 'none';
                document.getElementById('cep-imovel').style.display = 'none'; // Ocultar campo de CEP para emprego
                document.getElementById('endereco-imovel').style.display = 'none';
                document.getElementById('numero-imovel').style.display = 'none';
                document.getElementById('bairro-imovel').style.display = 'none';
                document.getElementById('cidade-imovel').style.display = 'none';
                document.getElementById('estado-imovel').style.display = 'none';
            } else {
                document.getElementById('extra-emprego').style.display = 'none';
                document.getElementById('campo-imagem').style.display = 'block';
                document.getElementById('label-preco-salario').textContent = 'Preço:';
                document.getElementById('preco-salario').placeholder = 'Preço';
                document.getElementById('extra-info').style.display = 'block';
                document.getElementById('cep-imovel').style.display = 'block'; // Mostrar campo de CEP para imóvel
                document.getElementById('endereco-imovel').style.display = 'block';
                document.getElementById('numero-imovel').style.display = 'block';
                document.getElementById('bairro-imovel').style.display = 'block';
                document.getElementById('cidade-imovel').style.display = 'block';
                document.getElementById('estado-imovel').style.display = 'block';
            }
        }

        document.getElementById('cep-imovel').addEventListener('blur', function() {
    const cep = this.value.replace(/\D/g, '');
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na rede');
                }
                return response.json();
            })
            .then(data => {
                if (!data.erro) {
                    document.getElementById('rua').value = data.logradouro;
                    document.getElementById('bairro').value = data.bairro;
                    document.getElementById('cidade').value = data.localidade;
                    document.getElementById('estado').value = data.uf;
                } else {
                    alert('CEP não encontrado.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao buscar o CEP.');
            });
    } else {
        alert('CEP inválido.');
    }
});


      
        function publicarAnuncio() {
            const form = document.getElementById('form-anuncio');
            alert('Anúncio publicado com sucesso!');
            form.reset();
            form.style.display = 'none';
            document.getElementById('listing-section').style.display = 'none';
            document.getElementById('info-section').style.display = 'block';
        }
    </script>
</body>
</html>
